@media (max-width: 900px) {
    #page-home {
        background-position: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        bottom: 48px;
        position: absolute;
        left: 50px;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }
}